<!DOCTYPE html>
<html>
<head>
<!--    <title>Greeting started: serving web content</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
</head>
<body>
<h1>Hello world! (home.mustache)</h1>
<div>Hello, {{name}}></div>
<a href="/main">Main page</a>
</body>
</html>